/*General Styles*/
body {
    background-color: #6d6d72;
    margin: 0;
}
.headers {
    display: flex;
}
h1, h4 {
    margin: 2vh;
}

/*Text in the header of the page */
#title-header {
    flex: 1;
    text-align: left;
    background-color: #6d6d72;
}
#game-info-header {
    flex: 1;
    text-align: right;
    background-color: #6d6d72;
}
/*Main UI */
.main-ui {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}
.settings-bar {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 1.5vh;
    left: 1.5vh;
    width: 10vh;
    height: 18vh;
    border: 1px solid grey;
    background: transparent;
    z-index: 3;
}
.settings-bar-buttons {
    position: relative;
    margin: 1vh 0 0.5vh 0;
    z-index: 3;
}
.settings-bar-buttons img {
    width: 7vh;
    height: auto;
    background: transparent;
    cursor: pointer;
}
.settings-bar-buttons:hover img {
    opacity: 0.7;
}
.settings-bar-buttons::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
/* Show the tooltip on hover */
.settings-bar-buttons:hover::after {
    opacity: 1;
    visibility: visible;
}

.poker-table-img {
    display: block;
    width: 60%;
    height: auto;
}

#total-pot {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 28%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    color: yellow;
}

/*Seats, Seat Buttons, Individual Seats*/
.seats {
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}
.seat-buttons {
    background: transparent;
    margin:0;
    padding:0;
    border: none;
}
.seat-buttons img {
    width: 11vh;
    height: auto;
}
.seat-buttons:hover img {
    content: url('../images/black-button.png')
}
.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: transparent;
    margin:0;
    padding:0;
}
.player-icon {
    position: relative;
    width: 100%;
    max-width: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-img {
    width: 100%;
    max-width: 13vh;
    height: auto;
    position: relative;
    z-index: 1;
}
.player-panel {
    position: relative;
    width: 100%;
    max-width: 13vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4vh;
    z-index: 3;
}
.panel-img {
    display: block;
    width: 100%;
    max-width: 13vh;
    height: auto;
}
.player-usernames, .player-chip-counts {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2vh;
}
.player-usernames {
    bottom: 0;
    margin: 1vh;
}
.player-chip-counts {
    top: 0;
    margin: 1vh;
}
.hole-cards {
    width: 90%;
    max-width: 13vh;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: calc(-2vh + 50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-actions {
    display: none;
    /* background-color: */
    border-radius: 5px;
    width: 70%;
    max-width: 13vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: calc(85%);
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-actions p {
    width: 100%;
    text-align: center;
    color: white;
    margin: 0.2vh;
}
.hole-cards img {
    flex: 1;
    max-width: 6vh;
    height: auto;
}
#seat-0 {
    top: 7%;
    left: 60%;
}
#seat-1 {
    top: 50%;
    left: 79%;
}
#seat-2 {
    top: 96%;
    left: 60%;
}
#seat-3 {
    top: 96%;
    left: 40%;
}
#seat-4 {
    top: 50%;
    left: 21%;
}
#seat-5 {
    top: 7%;
    left: 40%;
}
.bet-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    background-color: #6d6d72;
    border-radius: 3px; /* Adjust the value to control the roundness */
    width: 4vh;
    height: 2.5vh;
    margin: 0;
}
.player-bet-display {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    text-align: center;
    color: white;
    margin: 0;
}
#bet-display-0 {
    display: none;
    top: 25%;
    left: 60%;
}
#bet-display-1 {
    display: none;
    top: 50%;
    left: 73%;
}
#bet-display-2 {
    display: none;
    top: 76%;
    left: 60%;
}
#bet-display-3 {
    display: none;
    top: 76%;
    left: 40%;
}
#bet-display-4 {
    display: none;
    top: 50%;
    left: 27%;
}
#bet-display-5 {
    display: none;
    top: 25%;
    left: 40%;
}

#dealer-button {
    display: none;
    width: 5vh;
    height: auto;
    position: absolute;
}

/*Modal for when user selects a seat */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
#setupBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

#setupBtn:hover {
    background-color: #45a049;
}
#submitBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
#submitBtn:hover {
    background-color: #45a049;
}

/*Area dealing with player actions */
.action-bar {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2vh;
}
.custom-bet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333333;
    margin: 0;
}
.inc-bet, .slider-container, .dec-bet, .bet-input {
    margin: 0 1vh; /* Adjust the horizontal and vertical margins as needed */
}
.slider-container {
    display: flex;
    align-items: center;
    padding: 0;
    width: 20vh;
    height: 1.25vh;
    background-color: #ddd;
    border-radius: 6vh;
    position: relative;
    cursor: pointer;
}
.slider-track {
    flex: 1;
    width: 0;
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-handle {
    width: 1.75vh;
    height: 1.75vh;
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    user-drag: none;
    z-index: 1;
}
#slider-value {
    text-align: center;
    max-width: 6vh;
    height: 1.5vh;
    white-space: nowrap;
}
.inc-bet, .dec-bet {
    color: white;
    font-weight: bold;
    font-size: 2vh;
    height: auto;
    line-height: 1; /* Keep the text vertically centered */
    user-select: none;
}
.inc-bet:hover  {
    cursor: pointer;
}
.dec-bet:hover  {
    cursor: pointer;
}

.bet-sizes {
    display: flex;
    justify-content: flex-start;
    margin: 1vh 0vh;
}
.bet-sizes button {
    flex: 1;
    max-width: 80px;
    height: 3vh;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #95a5a6;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bet-sizes button:not(:last-child) {
    margin-right: 2px;
}
.bet-sizes button:hover {
    background-color: #7f8c8d;
}

.bet-sizes button:focus {
    outline: none;
}

.basic-actions {
    display: flex;
    justify-content: flex-start;
    margin: 1vh 0vh;
}

.basic-actions button {
    display: inline-block;
    min-width: 10vh;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.basic-actions button:not(:last-child) {
    margin-right: 1vh;
}
.basic-actions button:hover {
    background-color: #c0392b;
}