<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/table-script.js" defer></script>
    <title>Juno Poker</title>
</head>
<body>
    <div class="headers">
        <header id="title-header">
            <h1>Welcome to Juno Poker</h1>
        </header>
        <header id="game-info-header">
            <h4>Game Type:</h4>
            <h4>Stakes: </h4>
        </header>
    </div>
    <div class='table'>
        <img class="poker-table-img" src="/images/poker-table.png" alt="Error">
        <button class="overlay-button" id="button1"><img src="/images/grey-button.png" alt="Error"></button>
        <button class="overlay-button" id="button2"><img src="/images/grey-button.png" alt="Error"></button>
        <button class="overlay-button" id="button3"><img src="/images/grey-button.png" alt="Error"></button>
        <button class="overlay-button" id="button4"><img src="/images/grey-button.png" alt="Error"></button>
        <button class="overlay-button" id="button5"><img src="/images/grey-button.png" alt="Error"></button>
        <button class="overlay-button" id="button6"><img src="/images/grey-button.png" alt="Error"></button>
    </div>
    <div class="action-bar">
        <h6>Hand: </h6>
        <div class="bet-sizes">
            <button>25%</button>
            <button>50%</button>
            <button>75%</button>
            <button>100%</button>
        </div>
        <div class="slider-container">
            <div class="slider-track">
                <div class="slider-handle"></div>
            </div>
        </div>
        <input type="text" id="slider-value" readonly>
        <div class="basic-actions">
            <button>Fold</button>
            <button>Check</button>
            <button>Bet: </button>
        </div>

    </div>
</body>
</html>